* {

    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    /* background-image: url(素材\登录背景.svg); */
    background-color: #eeeeee;
}

.w {
    width: 360px;
    margin: 100px auto;
}

/* .all {
    background-color: #f0f2f5;
    width: 1500px;
    margin: auto;
} */
.header {
    width: 360px;
    height: 128px;
    text-align: center;

}

/* .header .log {
    margin: auto;
    text-align: center;
} */

.header .log .logo_1 {
    width: 63px;
    height: 63px;
    margin-right: 12px;
}

.header .log .logo_2 {
    width: 122px;
    height: 54px;
    /* line-height: 63px; */
    /* vertical-align: baseline; */
    margin-bottom: 4.5px;
}

.header .logos {
    height: 30px;
    font-size: 14px;
    color: #0000006D;
    line-height: 30px;
}

.header a {
    font-size: 14px;
    color: #0000006D;
}

.body {
    width: 360px;
    height: 345px;
    padding: 20px;
    position: relative;
    background-color: white;
    /* background-color: pink; */
    /* box-sizing: border-box; */
}

.body p {
    height: 24px;
    color: #000000A6;
    font-size: 16px;
    margin: 0 0 16px;
}

.body .ivu {
    border-bottom: 1px solid #0000006D;
    /* display: block; */
    height: 1px;
    width: 100%;
    margin: 24px 0;
    /* clear: both; */
}

.body .zt {
    height: 42px;
    border: 1px solid #0000006D;
    margin: 10px 0;
    border-radius: 5px;
    /* position: relative; */
}

.body i {
    /* border: 1px solid #0000006D; */
    width: 20px;
    height: 40px;
    text-align: center;
    margin-right: 10px;
}

.body input {
    outline: none;
    width: 290px;
    height: 40px;
    border: none;
}

/* .body input::after {
    font-family: "iconfont" !important;
    content: "&#xe60f";
    width: 14px;
    height: 14px;
    z-index: 1;
} */
.body button {
    background-color: #2d8cf0;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    color: white;
    margin-bottom: 10px;
}

.body a {
    color: #1890ff;
    font-size: 14px;
    width: 65px;
    height: 40px;
    position: absolute;
    right: 20px;
    bottom: 0;
}